<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <siteMap>
      <providers>
        <add name="Member" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Member.sitemap"/>
        <add name="NonMember" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/NonMember.sitemap"/>
      </providers>
    </siteMap>
  </system.web>
  <connectionStrings>
    <add name="csPropertyBazar" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Users\IT485S713\Downloads\Property Bazar Code\Property Bazar Code\Solution\App_Data\Database.mdf;Integrated Security=True"
      providerName="SqlClient" />
  </connectionStrings>
</configuration>
